.about-us-homepage-content-wrapper { 
    display: flex;
    justify-content: center;
    // justify-content: space-evenly;
    gap: 3em;
}

// .about-us-homepage-content-wrapper * { 
//     font-family: "Poppins", sans-serif;
// }

.pps-worker-img-1 { 
    display: flex;
    align-items: flex-start;
    width: 26em;
    height: 18em;
    border-radius: 5%;
}

.pps-worker-img2 { 
    width: 24em;
    border-radius: 5%;

}

.pps-workers-container { 
    padding: 2em;
}

.pps-workers-container { 
    display: flex;
    gap: 2em;
}

.about-us-content-container { 
    display: flex;
    flex-direction: column;
    max-width: 45em;
    padding: 2em;
    // border-bottom: 2px solid rgba(57, 181, 74, 1);
}

.about-us-content-container h1 { 
    font-size: 3rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
}

.learn-more-btn-container { 
    padding: 0.5em;
}

.learn-more-btn-container button { 
    font-size: 1.4rem;
    padding: 0.5em;
    font-family: "Poppins", sans-serif;
    background-color: yellow;
    border: 2px solid black;
}

.trusted-solution-text-about-us { 
    font-family: "Poppins", sans-serif;
    color: rgba(57, 181, 74, 1);
}

.about-us-content-container h3 { 
    // padding: 1em;
    font-size: 1.7rem;
    color: rgba(57, 181, 74, 1);
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

// .about-us-content-container p { 
//     font-size: 1.3rem;
//     font-weight: 300;
//     padding-bottom: 1em;
//     padding: 0.5em;
//     font-family: "Poppins", sans-serif;
// }

.about-us-description-p { 
    font-size: 1.3rem;
    font-weight: 300;
    padding-bottom: 1em;
    padding: 0.5em;
    font-family: "Poppins", sans-serif;
    border-left: 4px solid orange;
}

// .phone-icon-container { 
//     width: 3em;
//     background-color: green;
//     color: green;
// } 

.learn-more-call-help-button-container { 
    display: flex;
    align-items: center;
    border-bottom: 4px solid orange;
}

.phone-icon-container img { 
    width: 2.5em;
}



.phone-icon-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
    background-color: green;
    border-radius: 50%;
} 


.call-for-help-container { 
    display: flex;
    flex-direction: column;

}

.call-for-help-container p { 
    font-size: 1rem;
}

.call-for-help-container h3 { 
    font-size: 1.2rem;
}




.check-marks-container { 
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    gap: 2em;
    padding-top: 2em;
    padding-left: 4em;
}

.check-mark-set-1, 
.check-mark-set-2 { 
    display: flex;
    // flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    // width: 100%;
    // text-align: center;
}

.check-mark-set-1 p,
.check-mark-set-2 p { 
    display: flex;
    flex: 1; 
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    margin: 0;
    white-space: nowrap;
   
}

.check-mark-set-1 img,
.check-mark-set-2 img { 
    width: 2em;
    height: auto; 
}




