.footer-content-wrapper { 
    display: flex;
    // flex-direction: column; /* Change to column layout */
    justify-content: space-between; /* Center vertically */
    align-items: center; /* Center horizontally */
    // background-color: rgb(70, 8, 70);
    background-color: rgb(44, 28, 44);
    color: white;
    font-family: sans-serif;
    padding-top: 2em;
}

.footer-logo-title-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    gap: 1em;
}

.footer-logo-title-container img { 
    width: 5em;
    border-radius: 5%;
}

.footer-links-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 0.5em;
    margin-right: 12em;
}

.icon-links-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.footer-services-container { 
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    gap: 0.5em;
}

@media (max-width: 1100px) { 
    .footer-logo-title-container h1,
    .footer-links-container h1 { 
        font-size: 1.8rem;
    }

    .footer-services-container h3 { 
        font-size: 1.2rem;
    }
}

@media (max-width: 1000px) { 
    .footer-content-wrapper { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: none;
    }

    .footer-logo-title-container, 
    .footer-links-container { 
        border: none;
    }

    .footer-services-container { 
        display: flex;
        flex-direction: column;
        gap: 1em;
        text-align: center;
    }

    .footer-links-container  { 
        margin-right: 0;
    }
}












































// .footer-content-wrapper { 
//     display: flex;
//     // justify-content: flex-start;
//     justify-content: space-between;
//     align-items: center;
//     background-color: rgb(70, 8, 70);
//     color: white;
//     font-family: sans-serif;
//     padding-top: 2em;
// }


// .footer-logo-title-container { 
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     padding: 0.5em;
//     // border-right: 2px solid white;
//     padding-right: 2em;
//     gap: 1em;
// }

// .footer-logo-title-container img { 
//     width: 5em;
//     border-radius: 5%;
// }

// .footer-links-container { 
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     gap: 2em;
//     padding: 0.5em;
//     // border-right: 2px solid white;
//     // border-left: 2px solid white;
//     // margin-right: 14em;
//     // padding-right: 4em;
//     // padding-left: 4em;
// } 

// .icon-links-container { 
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 1em;
// }

// .footer-services-container { 
//     display: flex;
//     flex-direction: column;
//     padding: 0.5em;
//     gap: 0.5em;
// }


// @media (max-width: 1100px) { 
//     .footer-logo-title-container h1,
//     .footer-links-container h1 { 
//         font-size: 1.2rem;
//     }

//     .footer-services-container h3 { 
//         font-size: 1rem;
//     }
// }


// @media (max-width: 1000px) { 
//     .footer-content-wrapper { 
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         border-right: none;
//     }

//     .footer-logo-title-container, 
//     .footer-links-container { 
//         border: none;
//     }

//     .footer-services-container { 
//         display: flex;
//         flex-direction: column;
//         gap: 1em;
//         text-align: center;
//     }

//     .footer-links-container { 
//         margin-right: none;
//     }
// }