.gallery-homepage-2-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 1em;
    // padding: 2em;
}

.gallery-homepage-2-container img { 
    width: 22em;
    height: 22em;
    border-radius: 1em;
}


.gallery-2-card-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em;
}


// media queries begin here 

// @media (max-width: 1600px) { 
//     .gallery-2-card-container img { 
//         width: 23em;
//         height: 28em;
//     }
// }




@media (max-width: 1520px) { 
    .gallery-2-card-container img { 
        width: 20em;
    }
} 


@media (max-width: 1390px) { 
    .gallery-2-card-container img { 
        width: 18em;
    }

    .gallery-2-card-container  { 
        padding: 1em;
    }
}

@media (max-width: 1245px) { 
    .gallery-2-card-container img { 
        width: 16em;
        height: 20em;
    }
}

@media (max-width: 1110px) { 
    .gallery-2-card-container { 
        display: flex;
        flex-wrap: wrap;
        width: 50em;
        gap: 1em;
    }

    .gallery-2-card-container img { 
        width: 21em;
    }

    
}


@media (max-width: 720px) { 
    .gallery-2-card-container img { 
        width: 19em;
    }
}

@media (max-width: 660px) { 
    .gallery-2-card-container img { 
        width: 16em;
    }
}

@media (max-width: 559px) { 
    .gallery-2-card-container img { 
        width: 19em;
    }
}


@media (max-width: 400px) { 
    .gallery-2-card-container img { 
        width: 16em;
    }
}



// @media (max-width: 1340px) { 
//     .gallery-2-card-container img { 
//         width: 19em;
//     }
// }

// @media (max-width: 1270px) { 
//     .gallery-2-card-container { 
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-wrap: wrap;
//         width: 50em;
//     }

//     .gallery-2-card-container img { 
//         width: 22em;
//     }

//     .gallery-2-card-container { 
//         display: flex;
//         gap: 2em;
//     }
// }