.gallery-homepage-2-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2em;
}

.gallery-homepage-2-container img { 
    width: 25em;
    height: 30em;
}