// .image-title-component-wrapper { 
//   background-image: url('../assets/portrait-professional-exterminator-holding-sprayer-with-chemicals-pest-control.jpg');
  
//   background-size: contain;
// }

// .image-title-component-wrapper img { 
//   width: 100%;
//   height: 100%;
// }

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.image-title-component-wrapper { 
  display: flex;
  flex-direction: column;
  // height: 80vh;
  height: 100vh;
  width: 100%;
  background-image: url('../assets/hero-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 9em;
}

.image-title-component-wrapper * { 
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;

}


.image-title-component-wrapper h1 { 
  font-size: 4rem;
  max-width: 12em;
  color: white;
  
}

.solutions-text-styles { 
  color: yellow;
}

.check-marks-features { 
  display: flex;
  gap: 1em;
}

.check-marks-features h3 { 
  color: white;
  font-size: 1rem;
}

.check-marks-features img { 
  width: 2em;
}


.check-mark-1-pair,
.check-mark-2-pair,
.check-mark-3-pair { 
  display: flex;
  align-items: flex-end;
  gap: 0.5em;
}


.discover-more-btn-container { 
  display: flex;
  justify-content: flex-start;
  padding: 1em;
}

.discover-more-btn-container button { 
  background-color: yellow;
  border: none;
  border-radius: 5%;
  font-size: 1.5rem;
  padding: 0.5em;
}





@media (max-width: 1330px) { 
  .image-title-component-wrapper { 
    padding: 6em;
    height: auto;
  }

  .image-title-component-wrapper h1 { 
    font-size: 3rem;
  }

  .check-marks-features h3  { 
    font-size: 0.8rem;
  }

  .discover-more-btn-container button { 
    font-size: 1rem;
  }
}




@media (max-width: 640px) { 

  //  .image-title-component-wrapper { 
  //   padding: 5em;
  // }

  // .image-title-component-wrapper { 
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  // }

  .image-title-component-wrapper { 
    padding: 4em;
  }

  .image-title-component-wrapper h1 { 
    max-width: 9em;
    // text-align: center;
    padding-bottom: 0.5em;
  }


  .check-marks-features { 
    display: flex;
    flex-direction: column;
    gap: 0em;
  }

  .image-title-component-wrapper h1 { 
    font-size: 2.2rem;
  } 


}

@media (max-width: 442px) { 
  .image-title-component-wrapper h1 { 
    font-size: 1.8rem;
  } 


  .image-title-component-wrapper { 
    padding: 3em;
  }
}

@media (max-width: 352px) { 
  .image-title-component-wrapper h1 { 
    font-size: 1.5rem;
  } 
}

















// .image-title-content-wrapper h1 { 
//     text-align: center;
//     padding-right: 3em;
// }

// .main-title-img-container { 
//     // display: flex;
//     // justify-content: space-between;
//     color: black;
//     font-weight: bold;
//     padding: 0.5em;
//     // background-image: url('../assets/PPS-logo.jpeg');
//     // background-size: 20%;
//     // background-repeat: no-repeat;
//     // background-position: 50%;
// }

// .main-title-img-container h1 { 
//     font-size: 4.5rem;
// } 

// .main-title-img-container h3 { 
//     font-size: 2rem;
// }


// .main-title-img-container img { 
//     width: 25em;
// }

// // .main-title-container { 
// //     text-align: center;
// // }
