.pest-control-team-text-styles { 
    color: darkorange;
}

.team-title-subtitle-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.team-title-subtitle-wrapper { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

// .pest-control-worker-img { 
//     width: 12em;
// }

.pest-control-team-img { 
    width: 25em;
    border-radius: 1em;
}

.team-member-description-text-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.team-title-subtitle-container * { 
    font-family: "Poppins", sans-serif;
}

.team-title-subtitle-container h1 { 
    font-weight: 400;
    // font-size: 2.4rem;
    font-size: 3.3rem;
    padding-bottom: 0.5em;
}

.team-title-subtitle-container p { 
    font-size: 1.1rem;
    font-weight: 400;
    max-width: 30em;
    text-align: center;
}

.meet-team-content-wrapper { 
    padding: 3em;
}

.team-profile-container { 
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-top: 2em;
    gap: 2em;
    // flex-wrap: wrap;
}

.team-profile-container * { 
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.team-member-profile-container { 
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    gap: 1em;
    background-color: whitesmoke;
    // border: 2px solid black;
    box-shadow: 3px 3px 3px gray;
//    width: 100%;
    // width: calc(25% - 2em);

    // width: 20em;

    width: 16em;
    border-radius: 1em;


    // flex: 1;
}

.team-member-profile-container p { 
    text-align: center;
    
    // white-space: nowrap;
    font-size: 0.9rem;
    // line-break: none;
}

.team-member-img-container { 
    display: flex;
    justify-content: center;
}

.team-member-profile-container img { 
    width: 7em;
    border-radius: 0.5em;
}

.team-member-profile-inner-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.team-member-profile-inner-container h3 { 
    font-size: 1.3rem;
}


// media queries begin here 


@media (max-width: 1100px) { 
    .pest-control-team-img { 
        width: 20em;
    }
}



@media (max-width: 1070px) { 
    .team-profile-container { 
        gap: 1em;
    }

    .team-member-profile-container  { 
        padding: 1em;
    }

}


@media (max-width: 975px) { 
    .team-title-subtitle-wrapper { 
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}




@media (max-width: 950px) { 

    .meet-team-content-wrapper { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team-profile-container { 
        display: flex;
       
        flex-wrap: wrap;
        max-width: 40em;
    }
}


@media (max-width: 500px) { 
    .team-title-subtitle-container h1 { 
        font-size: 2.3rem;
    }

    .team-title-subtitle-container p { 
        font-size: 1rem;
    }

    .pest-control-team-img { 
        width: 18em;
    }

   
}





















// @media (max-width: 1471px) { 
//     .team-profile-container { 
       
//         width: 50em;
//     }

//     .meet-team-content-wrapper { 
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//     }
// }





// @media (max-width: 1360px) { 
//     .team-title-subtitle-container { 
//         padding-right: 2em;
//     }

//     .team-title-subtitle-container h1 { 
//         font-size: 2.5rem;
//     }

//     .team-title-subtitle-container p { 
//         font-size: 1rem;
//     }
// }


// @media (max-width: 875px) { 
//     .team-title-subtitle-container h1 { 
//         font-size: 2rem;
//     }

//     .pest-control-team-img { 
//         width: 17em;
//     }
// }

// @media (max-width: 765px)  {
//     .team-title-subtitle-wrapper { 
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//     }
// }
