// .navbar-content-wrapper { 
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   padding: 1em;
 
// }

// .navbar-content-wrapper * { 
//   font-family: sans-serif;
// }

// .title-img-container-navbar h1 { 
//   font-size: 2.5rem;
// }


// .title-img-container-navbar { 
//   display: flex;
//   align-items: center;
// }

// .title-img-container-navbar img { 
//   width: 5em;
// }

// .navlinks-button-container-navbar { 
//   display: flex;
//   gap: 1.5em;
// }

// .navlinks-button-container-navbar button { 
//   font-size: 1.2rem;
//   border: none;
//   background-color: white;
// }

// .search-icon-navbar { 
//   width: 5em;
// }



.navbar-content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3em;
  // background-color: darkblue;
  // background-color: rgb(44, 28, 44);
  // background-color: rgb(2, 2, 49);
  padding: 0.5em;
  
  // border-bottom: 2px solid white;
}

.title-subtitle-container { 
  display: flex;
  flex-direction: column;
}

.title-subtitle-container { 
  // color: white;
  // color: rgb(44, 28, 44);
  // font-family: sans-serif;
  font-family: sans-serif;
}

.title-subtitle-container h1 { 
  font-size: 2.5rem;
  font-family: sans-serif;
  // font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}

.title-subtitle-container h3 { 
  font-size: 2rem;
  text-align: center;
  color: purple;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.title-logo-container { 
  display: flex;
  align-items: center;
  gap: 1em;
}

.title-subtitle-container img { 
  width: 3em;
  border-radius: 5%;
  border: 2px solid black;
}

.navbar-content-wrapper button {
  font-size: 1rem;
  border: none;
  // background-color: darkblue;
  // background-color: rgb(70, 8, 70);
  // background-color: rgb(44, 28, 44);
  background: none;
  color: black;
  // color: purple;
  font-weight: bold;
  font-family: sans-serif;
}

.navbar-button-container { 
  display: flex;
  align-items: flex-end;
  gap: 2em;
}





.dropdown {
  display: block;

  // position: relative;
}

.dropdown a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

.dropdown .content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
  border: 2px solid black;
}

.dropdown:hover .content {
  display: block;
  z-index: 200;
}

.dropdown a:hover {
  color: red;
}

.content a {
  font-family: sans-serif;
  // text-align: center;
}

/* apply the same content here for other */

.dropdown .dropdown-for-stinging-pests .content-for-stinging-pests {
  display: none;
  position: absolute;
  top: 62.5%;
  left: 100%;
  background-color: white;
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
  border: 2px solid black;
}

.dropdown .dropdown-for-stinging-pests:hover .content-for-stinging-pests {
  display: block;
}

.stinging-pests-dropdown-icon-container,
.other-pests-dropdown-icon-container {
  display: flex;
}

.dropdown .dropdown-for-other-pests .content-for-other-pests {
  display: none;
  position: absolute;
  top: 77%;
  left: 100%;
  background-color: white;
  min-width: 80px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
  border: 2px solid black;
}

.dropdown .dropdown-for-other-pests:hover .content-for-other-pests {
  display: block;
}

.hamburger-menu-icon-navbar { 
  display: none;
}

.search-hamburger-icon-container { 
  display: flex;
  align-items: center;
}





@media (max-width: 1120px) { 
  // .navbar-button-container { 
  //   display: none;
  // }

  .search-hamburger-icon-container { 
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .dropdown { 
    display: none;
  }

  .hamburger-menu-icon-navbar { 
    display: block;
    visibility: visible;
  }

  
}

@media (max-width: 680px) { 
  .title-subtitle-container h1 { 
    // font-size: 1.5rem;
    display: none;
  }

  .title-subtitle-container img { 
    width: 4em;
  }
}

@media (max-width: 505px) { 
  .title-subtitle-container h1 { 
    font-size: 1.2rem;
  }
}







