



.navbar-content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3em;
  // background-color: darkblue;
  // background-color: rgb(44, 28, 44);
  // background-color: rgb(2, 2, 49);
  // background-color: rgb(57, 181, 74);
  // background-color: rgb(38, 38, 38);


  background-color: rgb(0, 47, 71);

  width: 100%;
  z-index: 1000;
  padding: 0.5em;
  position: fixed;
  
  // border-bottom: 2px solid white;
}

.navbar-content-wrapper * { 
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.title-subtitle-container { 
  display: flex;
  flex-direction: column;
}

.title-subtitle-container { 
  // color: white;
  // color: rgb(44, 28, 44);
  // font-family: sans-serif;
  font-family: sans-serif;
}

.title-subtitle-container h1 { 
  font-size: 2.5rem;
  // font-family: sans-serif;
  // font-family: Georgia, 'Times New Roman', Times, serif;
  // color: black;
  color: white;
}

.title-subtitle-container h3 { 
  font-size: 2rem;
  text-align: center;
  color: purple;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.title-logo-container { 
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

.title-subtitle-container img { 
  width: 3em;
  border-radius: 5%;
  border: 2px solid black;
}

// .header-link { 
//   text-decoration: none;
//   color: white;
// }

.header-link,
.navbar-content-wrapper button {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  border: none;
  background: none;
  color: white;
  z-index: 3000;
}

// .navbar-content-wrapper button {
//   font-size: 1.1rem;
//   border: none;

//   background: none;
//   color: white;
  
// }

.navbar-button-container { 
  display: flex;
  align-items: flex-end;
  gap: 2em;
}





.dropdown {
  display: block;

  // position: relative;
}

// .dropdown a {
//   display: block;
//   text-decoration: none;
//   padding: 0.3em;
// }

.dropdown .content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
  border: 2px solid black;
  z-index: 3000;



}

.dropdown:hover .content {
  display: block;
 
}

.dropdown a:hover {
  // color: red;
  color: darkorange;
}

.content a {
  font-family: "Poppins", sans-serif;
  color: black;
  display: block;
  text-decoration: none;
  padding: 0.3em;
  // font-family: sans-serif;
  // text-align: center;
}

/* apply the same content here for other */

.dropdown .dropdown-for-stinging-pests .content-for-stinging-pests {
  display: none;
  position: absolute;
  top: 62.5%;
  left: 100%;
  background-color: white;
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
  border: 2px solid black;
}

.dropdown .dropdown-for-stinging-pests:hover .content-for-stinging-pests {
  display: block;
}

.stinging-pests-dropdown-icon-container,
.other-pests-dropdown-icon-container {
  display: flex;
}

.dropdown .dropdown-for-other-pests .content-for-other-pests {
  display: none;
  position: absolute;
  top: 77%;
  left: 100%;
  background-color: white;
  min-width: 80px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
  border: 2px solid black;
  // z-index: 3000;
}

.dropdown .dropdown-for-other-pests:hover .content-for-other-pests {
  display: block;
}

// .hamburger-menu-icon-navbar { 
  
// }

.search-hamburger-icon-container { 
  display: none;

  // align-items: center;
  
}

// .search-icon-navbar { 
//   width: 2.2em;
// }

.navbar-content-wrapper button:hover {
  z-index: 3000; 
}


.accordion-body { 
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.accordion-body * { 
  font-family: "Poppins", sans-serif;
}

 

.offcanvas-body,
.offcanvas-header { 
  background-color: rgb(0, 47, 71);
  
}

.offcanvas-header * { 
  font-family: "Poppins", sans-serif;
  color: white;
}

.accordion-button * { 
  font-family: "Poppins", sans-serif;
  
}

.accordion-button a { 
  text-decoration: none;
  color: darkorange;
  cursor: pointer;
}

.accordion-body a { 
  text-decoration: none;
  color: black;
  cursor: pointer;
}

// .btn-close { 
// background-color: white;
// }




// media queries begin here, 




@media (max-width: 1160px) { 
  .navbar-button-container { 
    gap: 1em;
  }
}



@media (max-width: 1080px) { 

  // decrease the size of the navbar header 
  // and the font size of the navbar buttons 

  .title-subtitle-container h1 { 
    font-size: 1.8rem;
  }

  .title-logo-container { 
    align-items: flex-end;
  }

  // .navbar-content-wrapper button { 
  //   font-size: 0.9rem;
  // }

  .navbar-content-wrapper button { 
    font-size: 0.8rem;
  }

}

@media (max-width: 960px) { 
  .navbar-button-container { 
    gap: 0.8em;
  }
}



@media (max-width: 950px) { 

  .navbar-content-wrapper { 
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 100vw;
  }

  
  .navbar-button-container button,
  .dropdown:hover .content { 
    display: none;
  }

  

  .search-hamburger-icon-container { 
    display: flex;
    align-items: center;
    gap: 1em;
    // width: 2em;
  }

  
  
  
  .search-icon-navbar { 
    display: block;
    width: 1.5em;
  }

  .hamburger-menu-icon-navbar { 
    width: 2.5em;
  }

} 

@media (max-width: 710px) { 
  .title-subtitle-container h1 { 
    font-size: 1.2rem;
  }

  .title-subtitle-container img { 
    width: 2.5em;
  }

}

@media (max-width: 570px) { 
  .title-subtitle-container h1 { 
    font-size: 1rem;
    white-space: nowrap;
  }

  .title-subtitle-container img { 
    width: 2em;
  }

  .search-hamburger-icon-container { 
    gap: 0.2em;
  } 

  .title-logo-container { 
    width: auto;
    gap: 0.2em;
    padding-left: 1em;
  }

  .navbar-button-container  { 
    gap: 0;
  }
}



@media (max-width: 330px) { 
  .navbar-content-wrapper { 
    gap: 2em;
  }
}


// @media (max-width: 1120px) { 
//   // .navbar-button-container { 
//   //   display: none;
//   // }

//   .navbar-content-wrapper { 
//     padding: 0.3em;
//   }

//   .search-hamburger-icon-container { 
//     display: flex;
//     align-items: center;
//     gap: 1em;
//     // width: 2em;
//   }

//   // .search-icon-navbar { 
//   //   width: 1.5em;
//   // }

//   .dropdown { 
//     display: none;
//   }

//   .hamburger-menu-icon-navbar { 
//     display: block;
//     visibility: visible;
//     // width: 2em;
//   }

  
// }

// @media (max-width: 680px) { 


//   // .title-subtitle-container h1 { 


//   //   // font-size: 1.5rem;
//   //   // display: none;

//   //   // font-size: 4rem;
//   // }

//   // .title-subtitle-container img { 
//   //   width: 2.3em;
//   // }


// }

// @media (max-width: 505px) { 
//   .title-subtitle-container h1 { 
//     font-size: 1.2rem;
//   }
// }








