.reviews-content-wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 6em;
    
    position: relative;
    top: 6em;
}


.reviews-header-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reviews-header-container * { 
    font-family: "Poppins", sans-serif;
}

.reviews-header-container h1 { 
    color: darkorange;
}


.reviews-text-photo-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding: 2em;
}

.reviews-text-photo-container p { 
    max-width: 40em;
}

.reviews-text-photo-container img { 
    width: 15em;
    border-radius: 1em;
}

.reviews-text-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews-text-container p { 
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
}

.review-name-styles { 
    font-weight: bold;
}

.reviews-footer-wrapper { 
   position: relative;
   top: 6em;
}

// media queries begin here 


@media (max-width: 1030px) { 
    .reviews-text-photo-container { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reviews-text-photo-container img { 
        width: 22em;
    }

    .reviews-text-photo-container { 
        display: flex;
        text-align: center;
        gap: 1em;
    }
}

@media (max-width: 700px) { 
    .reviews-text-photo-container img { 
        width: 15em;
    }
    
    .reviews-header-container h1 { 
        font-size: 1.5rem;
    }

    .reviews-text-container p { 
        font-size: 1rem;
    }

    .reviews-text-photo-container p { 
        width: 100%;
    }

}


// @media (max-width: 500px) { 
// }


@media (max-width: 400px) { 
    // .reviews-header-container h1 { 
    //     font-size: 1rem;
    // }

    .reviews-text-photo-container img { 
        width: 11em;
    }
}



